html,
body {
  height: 100%;
  width: 100%;
  background: #000;
  margin: 0;
  padding: 0;
}
.blur-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #454698;
}
.green-blob {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: radial-gradient(ellipse, #25b671 0, #28b571 30%, transparent);
  bottom: -50%;
  left: -35%;
  width: 50%;
  height: 170%;
  z-index: 1;
  animation: green-scale 20s infinite;
  animation-delay: 10s;
}
.purple-bottom {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: #652497;
  width: 70%;
  height: 80%;
  bottom: -30%;
  left: 10%;
  z-index: 1;
  animation: purple-scale 20s infinite;
  animation-delay: 10s;
}
.purple-left-blob {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: #652497;
  top: -45%;
  right: -35%;
  width: 99%;
  height: 122%;
  z-index: 4;
  animation: animation-purple-left 20s infinite;
}
.red-left-blob {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: #f7a501;
  top: -49%;
  right: -2%;
  width: 54%;
  height: 75%;
  z-index: 4;
  animation: animation-red 20s infinite;
}
.red-right-blob {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: #f7a501;
  z-index: 4;
  top: -10%;
  right: -15%;
  width: 40%;
  height: 40%;
  animation: animation-red-right 20s infinite;
}
.purple-right-blob {
  position: absolute;
  border-radius: 100%;
  filter: blur(99px);
  background: #652497;
  z-index: 4;
  top: -10%;
  right: -15%;
  width: 50%;
  height: 70%;
  animation: purple-blob2 20s infinite;
}
@-moz-keyframes green-scale {
  50% {
    width: 70%;
    height: 100%;
  }
}
@-webkit-keyframes green-scale {
  50% {
    width: 70%;
    height: 100%;
  }
}
@-o-keyframes green-scale {
  50% {
    width: 70%;
    height: 100%;
  }
}
@keyframes green-scale {
  50% {
    width: 70%;
    height: 100%;
  }
}
@-moz-keyframes purple-scale {
  50% {
    width: 100%;
    height: 100%;
    left: 10%;
  }
}
@-webkit-keyframes purple-scale {
  50% {
    width: 100%;
    height: 100%;
    left: 10%;
  }
}
@-o-keyframes purple-scale {
  50% {
    width: 100%;
    height: 100%;
    left: 10%;
  }
}
@keyframes purple-scale {
  50% {
    width: 100%;
    height: 100%;
    left: 10%;
  }
}
@-moz-keyframes animation-purple-left {
  50% {
    top: -28%;
    right: -16%;
    width: 73%;
    height: 80%;
  }
}
@-webkit-keyframes animation-purple-left {
  50% {
    top: -28%;
    right: -16%;
    width: 73%;
    height: 80%;
  }
}
@-o-keyframes animation-purple-left {
  50% {
    top: -28%;
    right: -16%;
    width: 73%;
    height: 80%;
  }
}
@keyframes animation-purple-left {
  50% {
    top: -28%;
    right: -16%;
    width: 73%;
    height: 80%;
  }
}
@-moz-keyframes animation-red-left {
  50% {
    top: -30%;
    right: 7%;
    width: 40%;
    height: 40%;
  }
}
@-webkit-keyframes animation-red-left {
  50% {
    top: -30%;
    right: 7%;
    width: 40%;
    height: 40%;
  }
}
@-o-keyframes animation-red-left {
  50% {
    top: -30%;
    right: 7%;
    width: 40%;
    height: 40%;
  }
}
@keyframes animation-red-left {
  50% {
    top: -30%;
    right: 7%;
    width: 40%;
    height: 40%;
  }
}
@-moz-keyframes animation-red-right {
  50% {
    top: -10%;
    width: 30%;
    height: 30%;
  }
}
@-webkit-keyframes animation-red-right {
  50% {
    top: -10%;
    width: 30%;
    height: 30%;
  }
}
@-o-keyframes animation-red-right {
  50% {
    top: -10%;
    width: 30%;
    height: 30%;
  }
}
@keyframes animation-red-right {
  50% {
    top: -10%;
    width: 30%;
    height: 30%;
  }
}
@-moz-keyframes purple-blob2 {
  50% {
    width: 40%;
    height: 45%;
  }
}
@-webkit-keyframes purple-blob2 {
  50% {
    width: 40%;
    height: 45%;
  }
}
@-o-keyframes purple-blob2 {
  50% {
    width: 40%;
    height: 45%;
  }
}
@keyframes purple-blob2 {
  50% {
    width: 40%;
    height: 45%;
  }
}
